#conceptContainer{border:1px solid #fff;margin:0;padding:0}
#conceptListContainer{border:1px solid #fff;width:100%;overflow:auto;margin:0;padding:0}
#SelectedConcContainer{border-top:3px solid #eee;margin-top:1em;overflow:auto;display:none;padding:1em}
#ConcQuesContainer{position:absolute;top:400px;height:400px;overflow:auto}
#getQuesForConcepts{position:relative;clear:both;margin-top:20px}
.conceptTable{position:relative;width:100%;border:2px solid #999;border-collapse:collapse}
.conceptTable td{position:relative;border:1px solid #FFF}
.conceptTable td.choice_del{border:1px solid #999;background-color:#aaa}
.concept_alph{color:#FFC0CB;border:1px solid #FFC0CB}
.concept_alph:hover{border:2px solid red;color:#090;cursor:pointer}
#errorConceptContainer{color:red;padding:0}
.resource_concept{float:left;clear:both;text-align:left;font-size:120%;font-family:Geneva, Tahoma, Verdana, sans-serif;color:#00a;padding:.2em}
.ITS_resource_box{border:2px solid #999;overflow:auto;margin:0;padding:.15em}
.conceptLIST{overflow:auto;border-top:3px ridge #999;list-style-type:decimal;margin:0;padding:0}
span.CHOICE{clear:both;float:left;width:auto;border:2px solid #999;display:inline;background:#fff;white-space:nowrap;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;overflow:auto;margin:.5em;padding:.25em 1em}
span.chighlight{color:blue}
#conceptColumnContainer{width:100%;text-align:center}
.conceptColumn{float:center;display:inline-block;vertical-align:text-top}
.conceptList{border:1px solid #fff;text-align:left;list-style-type:none;margin:.5em 1em;padding:0 25%}
.conceptList li{color:#666;border:1px solid #fff;padding:.5px}
.conceptList li:hover{border:1px dotted #ccc;color:#090;cursor:pointer}
.conceptScore{float:right;color:#999;font-size:60%}
.conceptCount{float:right;margin-left:.75em;color:#555;width:3em;text-align:right;border:1px solid #fff;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11pt}
hr.concept{border:1px solid #ddd;margin:.5em 2em}
div.navConcept{float:left;font:110% georgia, times, "times new roman", serif;text-align:left;color:blue}
span.navConceptInfo{float:right;border:1px solid #fff;font:Courier, monospace}
#navcontainer2{position:relative;background:#fff;border-bottom:1px solid #bbb;height:28px;margin:0 3em 1em;padding:0}
#navlist2{list-style-type:none;text-align:center;position:relative;z-index:2;height:29px;padding:0}
#navlist2 li{display:inline;text-align:center;font-size:90%;margin:0 .25em;padding:0}
#navlist2 li a,#navlist2 li a:link{background:#fff;color:#777;text-decoration:none;outline:0;padding:3px 5px}
#navlist2 li a:hover{color:#000;border-bottom:3px solid #bbb;cursor:pointer}
#navlist2 li a#current,#navlist2 li a#current:link{color:#000;cursor:default;font-weight:700;border-bottom:3px solid #999;outline:0}
#navlist2 li a#current:hover{border-bottom:3px solid #000}
.selcon,.unselcon{font:110% Georgia, serif;text-align:left;color:#000}
.selcon:hover,.unselcon:hover{color:#000;cursor:pointer;border:2px solid #000}
